aioresponses==0.7.3
black==22.3.0
flake8==4.0.1
isort==5.10.1
mypy==0.942
pre-commit==2.18.1
pylint==2.14.0
pylint_strict_informational==0.1
pytest-asyncio==0.18.3
pytest-cov==3.0.0
pytest-error-for-skips==2.0.2
pytest==7.1.1