aioresponses==0.7.3
black==22.6.0
coverage==6.4.4
flake8==5.0.4
isort==5.10.1
mypy==0.971
pre-commit==2.20.0
pydocstyle==6.1.1
pylint_strict_informational==0.1
pylint==2.15.2
pytest-asyncio==0.19.0
pytest-cov==3.0.0
pytest-error-for-skips==2.0.2
pytest-timeout==2.1.0
pytest==7.1.2
