name: Release Drafter

on:
  push:
    branches:
      - master

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    name: Release Drafter
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Find Version
        id: version
        run: |
          declare -i newpost
          version=$(python setup.py --version)
          echo Version from setup.py: $version
          echo "::set-output name=version::$version"

      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v6
        with:
          tag: ${{ steps.version.outputs.version }}
          name: Version ${{ steps.version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
